@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#about{
  scroll-margin-top: 80px;
}
#proyects, #contact-me{
  scroll-margin-top: 135px;
}

::selection {
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));; /* Cambia el color de resaltado a rojo */
  color: white; /* Cambia el color del texto resaltado a blanco */
}